<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootStudy</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div>
    <h3>loginPage</h3>
    <form>
        <label>아이디
            <input type="text" id="id"/>
        </label>
        <label>비밀번호
            <input type="password" id="pwd"/>
        </label>
        <label>이름
            <input type="text" id="name"/>
        </label>
    </form>
    <br>
    <button>회원가입</button>
</div>
</body>
</html>