<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootStudy</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div>
    <h3>JoinPage</h3>
    <form>
        <label>아이디
            <input type="text" id="id"/>
        </label>
        <label>비밀번호
            <input type="password" id="pwd"/>
        </label>
    </form>
    <br>
    <button>로그인</button>
    <button id="joinBtn">회원가입</button>
</div>
</body>
</html>
<script>
    $(function() {
        $('#joinBtn').click(function(e){
            location.href = "join";
        });
    })
</script>